certifi
chardet
click
colorama
cycler
docopt
flask-login
Flask
flasgger
gunicorn
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
nltk
oauthlib
pandas
Pillow
pipreqs
pyparsing
pyOpenSSL
python-dateutil
pytz
requests
streamlit
scikit-learn
scipy
six
threadpoolctl
urllib3
Werkzeug
yarg


