<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Summer Internship 2022 aboutus</title>

<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<!-- font awsome cdn link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- custom css file link -->
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<!-- header section start -->


<section class="header" id="header">

<a href="#" class="logo"> <i class="fas fa-s"></i> Internship </a>

<nav class="navbar">
    <div id="nav-close" class="fas fa-times"></div>
    <a href = '/';>home</a>
    <a href="#">major project</a>
    <a href='/mini';>mini project</a>
    <a href='/guidance';>guidance</a>
    <a href='/blogs';>blogs</a>
    <a href='/aboutusnew';>About us</a>
    <a link href="#">search</a>
</nav>

<div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="#" class="fas fa-search"></a>
</div>
</section>

<!-- header section ends -->

<br>
<br>
<br>

<!-- about section starts here -->

  <section class="about" id="about">
      <div class="img">
          <img src="/static/images/Sushil Kumar.jpg" alt="">
      </div>

      <div class="content">
          <h3>Contribution</h3>
          <p>I am Sushil Kumar 2nd year B.Tech, Computer Science student at Poornima Institute of Enginnering and Technology.Working with the team of hardworking individuals was a wonderful experience for me as I participated in the Summer Internship 2022 programme run by the Department of Computer Sciene and Engineering, Poornima Institue of Engineering and Technology(PIET). This project was created under the supervision of Mr. Deepak Moud, Sir, HOD, CS Department. Throughout my internship, he served as both our mentor and instructor. During this programme, I was able to explore some new technologies and, most importantly, my capabilities, thanks to his strong support and cooperation. I pushed myself to work honestly and diligently under Deepak Sir's direction. In conclusion, it was a wonderful and novel experience for me, allowing me to better understand my areas of interest and the ones in which I still have room for growth.</p>
          <a target="_blank" href="https://www.linkedin.com/in/sushil-kumar-115721210" class="btn">Follow</a>
      </div>
  </section>
<br>
  <!-- about section starts here -->

    <section class="about" id="about">
        <div class="img">
            <img src="/static/images/Piet_logo_with_tagline.jpg" alt="">
        </div>

        <div class="content">
            <h3>About Summer Intenship 2022</h3>
            <p>For second-year students, the Department of Computer Science and Engineering at Poornima Institute of Engineering and Technology (PIET) offered a 45-day Summer Internship in Data Science and Machine Learning. This environment allowed us to develop our ideas and conduct research and development. The National Board of Accreditation (NBA) granted PIET accreditation for the academic years 2017–2018. Because of their collaborative efforts and creative ideas, PIET has achieved amazing milestones.</p>
        </div>
    </section>

<!-- about section ends here -->
<br>
  <!-- Disclaimer section starts here -->

    <section class="about" id="about">
        <div class="img">
            <img src="/static/images/disclaimer.jpg" alt="">
        </div>

        <div class="content">
            <h3>Disclaimer</h3>
            <p style="color: red; margin-right: 10px;">This website's content and images were found through standard Google Image and Document searches. Some of these pictures or data might be protected by copyright. They are regarded as being covered by the fair use doctrine because they are used here for educational and noncommercial purposes. In any case, Google Images/Data makes them readily available. Giving the authors of these images/data full scholarly credit is not possible. We hope that they will be happy with their constructive role.</p>
        </div>
    </section>

  <!-- disclaimer section ends here -->


            <button onclick="window.location.href = '/blogs';" class="btn">previous page</button>
            <button  onclick="window.location.href = '#';" class="btn">Next page</button>
<br>
<br>

<!-- footer section starts here -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href='/';>home</a>
            <a href='/aboutusnew';>about us</a>
            <a href='/blogs';>blogs</a>
        </div>
        <div class="box">
            <h3>summer internship 2022</h3>
            <a href="#">major project</a>
            <a href='/mini';>mini projects</a>
            <a href='/guidance';>guidance</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">ask question</a>
            <a href="#">privacy policy</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="callto:+91 73398 14571"><i class="fas fa-phone"></i>Phone</a>
            <a href="mailto:2020pietadsushil57@poornima.org"><i class="fas fa-envelope"></i>Email</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a target="_blank" href="https://www.linkedin.com/in/sushil-kumar-115721210"><i class="fab fa-linkedin"></i>linkedin</a>
            <a target="_blank" href="https://github.com/SushilKumar57"><i class="fab fa-github"></i>github</a>
        </div>
    </div>
    <div class="credit">Copyright © 2022 <span></span> || all rights reserved</div>
</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link -->
<script src="/static/script/script.js"></script>


<div class="fixed-bottom ">
<marquee>
<h2>Developed by Sushil Kumar under the Guidance of Deepak Moud Sir, PIET</h2>
</marquee>
</div>
</div>
</body>
</html>

