<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Summer Internship 2022 blogs</title>

<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<!-- font awsome cdn link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- custom css file link -->
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<!-- header section start -->


<section class="header" id="header">

<a href="#" class="logo"> <i class="fas fa-s"></i> Internship </a>

<nav class="navbar">
    <div id="nav-close" class="fas fa-times"></div>
    <a href = '/';>home</a>
    <a href="#">major project</a>
    <a href='/mini';>mini project</a>
    <a href='/guidance';>guidance</a>
    <a href='/blogs';>blogs</a>
    <a href='/aboutusnew';>About us</a>
    <a link href="#">search</a>
</nav>

<div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="#" class="fas fa-search"></a>
</div>
</section>

<!-- header section ends -->

<br><br><br>
<br>
<br>
<!-- Mini Project section starts here -->

<!-- about section starts here -->

<section class="about" id="about">
  <div class="img">
    <video controls="" width="" muted src="/static/vr.mp4" alt="" type="" poster="/static/images/thumbnail.jpg"></video>
  </div>
  <div class="content">
    <h3>memorable experiences during company visit</h3>
    <p>On 3rd August, 2022 went on an industrial visit to Bhamashah Techno Hub, Jaipur.
       It was amazing experience! 3D games!! Great use of technology! 3D movie theatre!!  Amazing infrastructure!! 3D Photo-shoot. Its an amazing place where you can see a lot of knowledge and new technologies. Here is a 7d cinema which introduces a new incredible technique. Here is vr technology that can help peoples to engage with newly high technology. VR Games are awesome. Really enjoyed a lot.
       </p>
       <p>On 5th August, 2022 went on an industrial visit to Auriga IT consulting private limited compamay, Jaipur
       Very good environment for work. Nice people & employee centric organization. Office premises is surrounded with nature which make it different from concrete towers. Love this experience.</p>
      </div>
</section>

<!-- about section ends here -->

<!-- blogs section starts here -->

<section class="blogs" id="blogs">
     <h1 class="heading">company visit <span>posts</span></h1>
     <div class="swiper blogs-slider">
         <div class="swiper-wrapper">

             <div class="swiper-slide slide">
                 <img src="/static/images/b-1.jpeg" alt="">
                 <div class="icons">
                     <a href="#"><i class="fas fa-calendar"></i> 3rd August,2022</a>
                     <a href="#"><i class="fas fa-user"></i>by sushil </a>
                 </div>
                 <h3>Playing mind games</h3>
             </div>

             <div class="swiper-slide slide">
                <img src="/static/images/b-2.jpeg" alt="">
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i> 3rd August,2022</a>
                     <a href="#"><i class="fas fa-user"></i>by sushil </a>
                </div>
                <h3>Solving image puzzle</h3>
            </div>

            <div class="swiper-slide slide">
                <img src="/static/images/b-3.jpeg" alt="">
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i> 3rd August,2022</a>
                     <a href="#"><i class="fas fa-user"></i>by sushil </a>
                </div>
                <h3>riding VR cycle</h3>
            </div>

            <div class="swiper-slide slide">
                <img src="/static/images/b-4.jpeg" alt="">
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i> 3rd August,2022</a>
                     <a href="#"><i class="fas fa-user"></i>by sushil </a>
                </div>
                <h3>rest room at Bhamashah technohub</h3>
            </div>

            <div class="swiper-slide slide">
                <img src="/static/images/b-5.jpeg" alt="">
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i> 3rd August,2022</a>
                    <a href="#"><i class="fas fa-user"></i>by sushil </a>
                </div>
                <h3>visiting gym facility</h3>
            </div>

            <div class="swiper-slide slide">
                <img src="/static/images/b-6.jpeg" alt="">
                <div class="icons">
                    <a href="#"><i class="fas fa-calendar"></i> 5th August,2022</a>
                    <a href="#"><i class="fas fa-user"></i>by sushil </a>
                </div>
                <h3>Auriga IT visit</h3>
            </div>
         </div>
     </div>
</section>
<!-- blogs section ends here -->


            <button onclick="window.location.href = '/guidance';" class="btn">previous page</button>
            <button  onclick="window.location.href = '/aboutusnew';" class="btn">Next page</button>
<br>
<br>
<!-- footer section starts here -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href='/';>home</a>
            <a href='/aboutusnew';>about us</a>
            <a href='/blogs';>blogs</a>
        </div>
        <div class="box">
            <h3>summer internship 2022</h3>
            <a href="#">major project</a>
            <a href='/mini';>mini projects</a>
            <a href='/guidance';>guidance</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">ask question</a>
            <a href="#">privacy policy</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="callto:+91 73398 14571"><i class="fas fa-phone"></i>Phone</a>
            <a href="mailto:2020pietadsushil57@poornima.org"><i class="fas fa-envelope"></i>Email</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a target="_blank" href="https://www.linkedin.com/in/sushil-kumar-115721210"><i class="fab fa-linkedin"></i>linkedin</a>
            <a target="_blank" href="https://github.com/SushilKumar57"><i class="fab fa-github"></i>github</a>
        </div>
    </div>
    <div class="credit">Copyright © 2022 <span></span> || all rights reserved</div>
</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link -->
<script src="/static/script/script.js"></script>


<div class="fixed-bottom ">
<marquee>
<h2>Developed by Sushil Kumar under the Guidance of Deepak Moud Sir, PIET</h2>
</marquee>
</div>
</div>
</body>
</html>

