<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Summer Internship 2022 instructors</title>
<link rel="shortcut icon" type="image/jpg" href="/static/images/banner_1.png" />
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<!-- font awsome cdn link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- custom css file link -->
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<!-- header section start -->


<section class="header" id="header">

<a href="#" class="logo"> <i class="fas fa-s"></i> Internship </a>

<nav class="navbar">
    <div id="nav-close" class="fas fa-times"></div>
    <a href = '/';>home</a>
    <a href="https://sushilkumar-majorproject-si-tp.herokuapp.com/">major project</a>
    <a href='/mini';>mini project</a>
    <a href='/guidance';>guidance</a>
    <a href='/blogs';>blogs</a>
    <a href='/aboutusnew';>About us</a>
    <a link href="#">search</a>
</nav>

<div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="#" class="fas fa-search"></a>
</div>
</section>

<!-- header section ends -->

<br>
<br>
<br>
<br>
<br>

<!-- HR section starts here -->

<section class="about" id="about">
    <div class="img">
        <img src="/static/images/g-1.jpeg" alt="">
    </div>

    <div class="content">
        <h3>Instructor</h3>
        <p>Mr. Deepak Moud is Assistant Professor in Department of Computer Engineering, Poornima Institute of Engineering & technology, Jaipur. He has more than 16 years of teaching experience. He is BE, MTech in Computer Science & Engineering. His research interests are in the area of Image Processing, Machine Learning, Deep Learning and data Mining. He has published more than 20 research papers in reputed journal in this area. He has received Best paper award two times. He guided many Deep Learning, Machine learning, Python flask projects. He has conducted training on various technologies. He has been resource person for more than 5 ATAL FDP and AICTE and TEQIP sponsored Workshops. He is Microsoft certified Azure AI Fundamental and Data Fundamental professional.</p>
        <a target="_blank" href="https://www.linkedin.com/in/deepak-moud-876076119" class="btn">follow</a>
    </div>
</section>

<!-- HR section ends here -->

<!-- Other instructors section starts here  -->

<section class="category">
    <h1 class="heading">Other <span>Instructors </span></h1>
    <div class="box-container">

        <div class="box">
            <img src="/static/images/g-2.jpeg">
            <h3>Dr. uday pratap singh</h3>
            <p>Assosiate Professor in CSE and Data Science at Poornima Institute of Engineering & technology.  </p>
            <a target="_blank" href="https://www.linkedin.com/in/dr-uday-pratap-singh" class="btn">Follow</a>
        </div>

        <div class="box">
            <img src="/static/images/g-3.jpeg">
            <h3>peeyush sanam</h3>
            <p>professional application developer and trainer at upflairs private limited, jaipur</p>
            <a target="_blank" href="https://www.linkedin.com/in/sanampeeyush" class="btn">Follow</a>
        </div>

        <div class="box">
            <img src="/static/images/g-4.jpeg">
            <h3>bipul nath</h3>
            <p>data analyst, machine learning Engineer and Trainer at upflairs private limited, jaipur.</p>
            <a target="_blank" href="https://www.linkedin.com/in/bipulnath1998" class="btn">Follow</a>
        </div>

        <div class="box">
            <img src="/static/images/g-5.jpeg">
            <h3>siddharth singh</h3>
            <p>Robotics Engineer, founder, director and HR of upflairs private limited, jaipur.</p>
            <a target="_blank" href="https://www.linkedin.com/in/siddharth-singh01" class="btn">Follow</a>
        </div>

    </div>
</section>

<!-- learning section ends here -->

            <button onclick="window.location.href = '/mini';" class="btn">previous page</button>
            <button  onclick="window.location.href = '/blogs';" class="btn">Next page</button>
<br>
<br>

<!-- footer section starts here -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href='/';>home</a>
            <a href='/aboutusnew';>about us</a>
            <a href='/blogs';>blogs</a>
        </div>
        <div class="box">
            <h3>summer internship 2022</h3>
            <a href="https://sushilkumar-majorproject-si-tp.herokuapp.com/">major project</a>
            <a href='/mini';>mini projects</a>
            <a href='/guidance';>guidance</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">ask question</a>
            <a href="#">privacy policy</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="callto:+91 73398 14571"><i class="fas fa-phone"></i>Phone</a>
            <a href="mailto:2020pietadsushil57@poornima.org"><i class="fas fa-envelope"></i>Email</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a target="_blank" href="https://www.linkedin.com/in/sushil-kumar-115721210"><i class="fab fa-linkedin"></i>linkedin</a>
            <a target="_blank" href="https://github.com/SushilKumar57"><i class="fab fa-github"></i>github</a>
        </div>
    </div>
    <div class="credit">Copyright © 2022 <span></span> || all rights reserved</div>
</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link -->
<script src="/static/script/script.js"></script>


<div class="fixed-bottom ">
<marquee>
<h2>Developed by Sushil Kumar under the Guidance of Deepak Moud Sir, PIET</h2>
</marquee>
</div>
</div>
</body>
</html>

