<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Summer Internship 2022</title>

<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<!-- font awsome cdn link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- custom css file link -->
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<!-- header section start -->


<section class="header" id="header">

<a href="#" class="logo"> <i class="fas fa-s"></i> Internship </a>

<nav class="navbar">
    <div id="nav-close" class="fas fa-times"></div>
    <a href = '/';>home</a>
    <a href="https://sushilkumar-majorproject-si-tp.herokuapp.com/">major project</a>
    <a href='/mini';>mini project</a>
    <a href='/guidance';>guidance</a>
    <a href='/blogs';>blogs</a>
    <a href='/aboutusnew';>About us</a>
    <a link href="#">search</a>
</nav>

<div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="#" class="fas fa-search"></a>
</div>
</section>

<!-- header section ends -->

<!-- home section starts -->

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="box" style="background: url(/static/images/home-bg-1.jpg) no-repeat;">
                    <div class="content">
                        <span>never stop </span>
                        <h3>learning</h3>
                        <p style="color:white" >Internships are very important part of our education program, first and foremost. In setting up professional internships, not only will we be able to offer students a chance to work with industry professionals, but the students also will be able to take the theory they learn in the classroom and put it into practice here, in whichever activity they’re focused.</p>
                        <a href="#" class="btn">get started</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box second" style="background: url(/static/images/home-bg-2.jpg) no-repeat;">
                    <div class="content">
                        <span>Develop professional</span>
                        <h3>skills</h3>
                        <p style="color:white">Be so good they can’t ignore you.<p>
                        <a href="#" class="btn">get started</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="box thrid" style="background: url(/static/images/home-bg-3.jpg) no-repeat;">
                    <div class="content">
                        <span>Exploring with</span>
                        <h3>Experts</h3>
                        <p style="color:white">Surround yourself with only people who are going to lift you higher.</p>
                        <a href="#" class="btn">get started</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- home section ends here -->


<!-- learning section starts here  -->

<section class="category">
    <h1 class="heading">What I have <span>learnt? </span></h1>
    <div class="box-container">

        <div class="box">
            <img src="/static/images/category-1.jpg">
            <h3>Python</h3>
            <p>Distributions and IDEs, Packages & Modules, Data Types Python - Variables Lists,   tuples, dictionaries, Sets, Files I/O Database Handling Dictionaries. OOPs in Python.</p>
            <a target="_blank" href="https://www.tutorialspoint.com/python/index.htm" class="btn">read more...</a>
        </div>

        <div class="box">
            <img src="/static/images/category-2.jpg">
            <h3>Data Analytics & Web Development using Python</h3>
            <p>Numpy and Pandas, Matplotlib, Seaborn Python Library, BeautifulSoup, API Integration, Deployment of project on cloud platforms</p>
            <a target="_blank" href="https://www.simplilearn.com/tutorials/data-analytics-tutorial/data-analytics-with-python" class="btn">read more...</a>
        </div>

        <div class="box">
            <img src="/static/images/category-3.jpg">
            <h3>Machine Learning</h3>
            <p>Regressions, Classification, Active Learning, Kernels, Model Selection, Boosting, Margin and Complexity, Hyper parameter Tuning Clustering, Design and Applications.</p>
            <a target="_blank" href="https://www.javatpoint.com/machine-learning" class="btn">read more...</a>
        </div>

        <div class="box">
            <img src="/static/images/category-4.jpg">
            <h3>Natural language Processing</h3>
            <p>Text processing, Language Modelling, Word Embedding, Text Classification, Learning from social media, Machine Translation and Deep learning for NLP.</p>
            <a target="_blank" href="https://www.tutorialspoint.com/natural_language_processing/natural_language_processing_python.htm" class="btn">read more...</a>
        </div>

    </div>
</section>
<!-- learning section ends here -->

<!-- Study Material section starts here -->

<section class="shop" id="study">
    <h1 class="heading">Study <span>Material</span></h1>
    <div class="swiper product-slider">
        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="img">
                    <img src="/static/images/sm-1.jpg" alt="">
                    <div class="icons">
                        <a target="_blank" href="/static/study/Logistic Regression.pptx" class="fas fa-eye"></a>
                        <a href="/static/study/Logistic Regression.pptx" class="fas fa-download"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Machine Learning</h3>
                    <div class="price">logistic regression</div>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="img">
                    <img src="/static/images/sm-2.jpg" alt="">
                    <div class="icons">
                        <a target="_blank" href="/static/study/Neural Network.pptx" class="fas fa-eye"></a>
                        <a href="/static/study/Neural Network.pptx" class="fas fa-download"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>deep learning</h3>
                    <div class="price">neural networks</div>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="img">
                    <img src="/static/images/sm-3.png" alt="">
                    <div class="icons">
                      <a target="_blank" href="/static/study/Decision Tree.pptx" class="fas fa-eye"></a>
                      <a href="/static/study/Decision Tree.pptx" class="fas fa-download"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Machine Learning</h3>
                    <div class="price">Decision Tree</div>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="img">
                    <img src="/static/images/sm-4.jpg" alt="">
                    <div class="icons">
                      <a target="_blank" href="/static/study/Random Forest.pptx" class="fas fa-eye"></a>
                      <a href="/static/study/Random Forest.pptx" class="fas fa-download"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>machine learning</h3>
                    <div class="price">Random Forest Algorithm</div>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class=" swiper-slide slide">
                <div class="img">
                    <img src="/static/images/sm-5.png" alt="">
                    <div class="icons">
                      <a target="_blank" href="/static/study/KNN.pptx" class="fas fa-eye"></a>
                      <a href="/static/study/KNN.pptx" class="fas fa-download"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>machine learning</h3>
                    <div class="price">k nearest neighbor</div>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="img">
                    <img src="/static/images/sm-6.jpg" alt="">
                    <div class="icons">
                      <a target="_blank" href="/static/study/Natural Language processing.pdf" class="fas fa-eye"></a>
                      <a href="/static/study/Natural Language processing.pdf" class="fas fa-download"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>machine learning</h3>
                    <div class="price">n l p</div>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="img">
                    <img src="/static/images/sm-7.jpg" alt="">
                    <div class="icons">
                      <a target="_blank" href="/static/study/K Means Clustering.pptx" class="fas fa-eye"></a>
                      <a href="/static/study/K Means Clustering.pptx" class="fas fa-download"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>machine learning</h3>
                    <div class="price">K Means Clustering</div>
                    <div class="starts">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</section>
<!-- Study material section ends here -->


            <button onclick="window.location.href = '/';" class="btn">previous page</button>
https://sushilkumar-majorproject-si-tp.herokuapp.com/
            <button  onclick="window.location.href = 'https://sushilkumar-majorproject-si-tp.herokuapp.com/';" class="btn">Next page</button>

<br>
<br>
<!-- footer section starts here -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href='/';>home</a>
            <a href='/aboutusnew';>about us</a>
            <a href='/blogs';>blogs</a>
        </div>
        <div class="box">
            <h3>summer internship 2022</h3>
            <a href="https://sushilkumar-majorproject-si-tp.herokuapp.com/">major project</a>
            <a href='/mini';>mini projects</a>
            <a href='/guidance';>guidance</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">ask question</a>
            <a href="#">privacy policy</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="callto:+91 73398 14571"><i class="fas fa-phone"></i>Phone</a>
            <a href="mailto:2020pietadsushil57@poornima.org"><i class="fas fa-envelope"></i>Email</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a target="_blank" href="https://www.linkedin.com/in/sushil-kumar-115721210"><i class="fab fa-linkedin"></i>linkedin</a>
            <a target="_blank" href="https://github.com/SushilKumar57"><i class="fab fa-github"></i>github</a>
        </div>
    </div>
    <div class="credit">Copyright © 2022 <span></span> || all rights reserved</div>
</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link -->
<script src="/static/script/script.js"></script>


<div class="fixed-bottom ">
<marquee>
<h2>Developed by Sushil Kumar under the Guidance of Deepak Moud Sir, PIET</h2>
</marquee>
</div>
</div>
</body>
</html>
