<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Summer Internship 2022 mini projects </title>

<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<!-- font awsome cdn link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- custom css file link -->
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<!-- header section start -->


<section class="header" id="header">

<a href="#" class="logo"> <i class="fas fa-s"></i> Internship </a>

<nav class="navbar">
    <div id="nav-close" class="fas fa-times"></div>
    <a href = '/';>home</a>
    <a href="#">major project</a>
    <a href='/mini';>mini project</a>
    <a href='/guidance';>guidance</a>
    <a href='/blogs';>blogs</a>
    <a href='/aboutusnew';>About us</a>
    <a link href="#">search</a>
</nav>

<div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="#" class="fas fa-search"></a>
</div>
</section>

<!-- header section ends -->

<br><br><br>
<!-- Mini Project section starts here -->

<section class="packages" id="packages">
    <div class="heading">All mini <span>projects</span></div>
    <div class="box-container">

        <div class="box">
            <div class="img">
                <img src="/static/images/p-1.png">
            </div>
            <div class="content">
                <h3>Linear Regression</h3>
                <p>House Price Calculation using linear regression to predict Price on the basis of Square Feet Area</p>
                <div class="price">Project 1</div>
                <a target="_blank" href="https://sushilkumar-housepriceproject1.herokuapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/p-2.png">
            </div>
            <div class="content">
                <h3>Multi-variable Linear Regression</h3>
                <p>House Price Calculation to predict the Price on the basis of multiple inputs of Square Feet Area</p>
                <div class="price">Project 2</div>
                <a target="_blank" href="https://sushilkumar-housepriceproject2.herokuapp.com/" class="btn">Try it yourself  </a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/p-3.png">
            </div>
            <div class="content">
                <h3>Decision Tree</h3>
                <p>Item purchase prediction using decision tree to predict whether item is purchased or not </p>
                <div class="price">Project 3</div>
                <a target="_blank" href="https://sushilkumar57-project3-decision-tree-streamlit-deplo-app-5wmc54.streamlitapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/p-4.png">
            </div>
            <div class="content">
                <h3>K Nearest Neighbour</h3>
                <p>titanic survivor analysis to predict whether the Passenger Survived or not on the basis of using his/her data </p>
                <div class="price">Project 4</div>
                <a target="_blank" href="https://sushilkumar-titanic-knn-pro-4.herokuapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/p-5.png">
            </div>
            <div class="content">
                <h3>natural language processing</h3>
                <p>Iphone Review Analysis to predict whether Review is Positive or Negative using natural language processing classifier</p>
                <div class="price">Project 5</div>
                <a target="_blank" href="https://sushilkumar-iphonenlp-project5.herokuapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/p-6.png">
            </div>
            <div class="content">
                <h3>All ML models</h3>
                <p>Placement prediction models of Candidates using flask by deploying all machine learning
                  Models on heroku</p>
                <div class="price">Project 6</div>
                <a target="_blank" href="https://sushilkumar-placement-analysis.herokuapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/p-7.png">
            </div>
            <div class="content">
                <h3>K Means Cluster</h3>
                <p>K Means Cluster Analysis to predict Customer is target or not on the basis of using his/her data (ie Annual Income, Spending Score, etc)</p>
                <div class="price">Project 7</div>
                <a target="_blank" href="https://sushilkumar-mallcustomer-proj7.herokuapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/p-8.png">
            </div>
            <div class="content">
                <h3>all classifiers</h3>
                <p>Churn Modelling model to predict whether customer has exited the bank or not by deploying all machine learning classifiers on heroku</p>
                <div class="price">Minor Project</div>
                <a target="_blank" href="https://sushilkumar-minorproject-churn.herokuapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

        <div class="box">
            <div class="img">
                <img src="/static/images/mini.png">
            </div>
            <div class="content">
                <h3>natural language processing</h3>
                <p>Restaurant Review System to predict whether the review is positive or negative using NLP classification</p>
                <div class="price">similar project</div>
                <a target="_blank" href="https://sushilkumar57-nlp-naive-bayes-classification-app-u0g1b9.streamlitapp.com/" class="btn">Try it yourself</a>
            </div>
        </div>

    </div>
</section>

<!-- Mini Project section ends here -->


            <button onclick="href = '#' " class="btn">previous page</button>

            <button  onclick="window.location.href = '/guidance';" class="btn">Next page</button>

<br>
<br>



<!-- footer section starts here -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <a href='/';>home</a>
            <a href='/aboutusnew';>about us</a>
            <a href='/blogs';>blogs</a>
        </div>
        <div class="box">
            <h3>summer internship 2022</h3>
            <a href="#">major project</a>
            <a href='/mini';>mini projects</a>
            <a href='/guidance';>guidance</a>
        </div>
        <div class="box">
            <h3>extra links</h3>
            <a href="#">my account</a>
            <a href="#">ask question</a>
            <a href="#">privacy policy</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="callto:+91 73398 14571"><i class="fas fa-phone"></i>Phone</a>
            <a href="mailto:2020pietadsushil57@poornima.org"><i class="fas fa-envelope"></i>Email</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a target="_blank" href="https://www.linkedin.com/in/sushil-kumar-115721210"><i class="fab fa-linkedin"></i>linkedin</a>
            <a target="_blank" href="https://github.com/SushilKumar57"><i class="fab fa-github"></i>github</a>
        </div>
    </div>
    <div class="credit">Copyright © 2022 <span></span> || all rights reserved</div>
</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link -->
<script src="/static/script/script.js"></script>


<div class="fixed-bottom ">
<marquee>
<h2>Developed by Sushil Kumar under the Guidance of Deepak Moud Sir, PIET</h2>
</marquee>
</div>
</div>
</body>
</html>

